# Ignore the specific conf folders
.idea/
.vscode/

# Ignore generated proto files
broker/proto/
receiver/message_broker_pb2.py
receiver/message_broker_pb2_grpc.py

# Go
/bin/
/pkg/
*.exe
*.out

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/

# C#
bin/
obj/
*.sln
*.user
*.csproj
*.dll
*.exe
